* {
    padding: 0;
    margin-top: 0;
    box-sizing:border-box;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
:root {
    --font-family: 'Poppins', 'Montserrat', 'Merriweather',   'Open Sans', 'Playfair Display';
    --headerfont: 'Poppins',  'Open Sans','Roboto';
  }
html {
    scroll-behavior: smooth;
}
h1, h2, h3 {
    font-family: var(--headerfont);
}
body { z-index: 0;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
'header'
 'main'
 'footer';
 padding: 0;
 margin: 0;
 line-height: 1.6;
 background: linear-gradient(180deg,  rgb(50, 56, 50), rgb(0, 0, 0),  rgb(50, 56, 50));
 color: white;
 font: 200 15px / 1.5 var(--font-family), Verdana, Geneva, Tahoma, sans-serif;
}
img { 
    padding: 0;
    margin: 0  ;
    max-width: 100%;
    height: auto;
    display: block;
}
/*Header and  Navigation style start */
header { 
    z-index:1000 ;
    position: sticky;
    top: 0;
    padding: 20px;
    color: #fff;
    grid-area: header;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
   }
header, footer {
    background-color: #0b0a0a;

  }
.hidden {position: relative;
    display: none  ;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
.hidden:visited {
    color:snow;
    text-decoration: none;
}
.hidden:hover {
    color:snow;
    text-decoration: none;
}
#logo { max-width: 20px;
    padding: 0;
    margin-right: 8px;
}
/* OPEN AND CLOSE ICON */
.accessaid {
    background:white;
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 0;
    padding-top: 40px;
    overflow: hidden;
 }
  
#openNav {
     cursor: pointer;
     color: white;
    text-decoration: none;
}
 
.closenav {
    margin: 0px 20px 0 15px;
     color: white;
}
#openNav:visited {
    color: white;
}
#openNav:hover {
    color: whitesmoke;
}
nav {
    background-color: #8c4040;

}
#mainnav {
     display: none;
     position: absolute;
     left: 0;
     top: 0;
    transition: 0.3s;
   }
   #mainnav:target {
    display: block;
   }
video {
    display: block;
    max-width: 100%;
    height: 400px;
}
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
background-color: #0b0a0a;
position: absolute;
width: 100vw;
left: 0;
  z-index: 101;
  opacity: .9;
flex-direction: column;
}

nav ul li { 
    opacity: 1;
    margin: 5px 0;
    text-align: center;
}
nav ul li a { 
    opacity: 1;

    font-weight: 500;
    padding: 0 0 0 15px;
  }

/* Navigation style end */

/* Hero section style */
#aboutMe {
    padding: 5px;
}
div.herodiv {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    margin: 1rem 0;
    padding: 0;
 }
 p {
    text-align: center;
 }
main {
    padding: 5px;
    grid-area: main;
}
#container {
    transition: margin-left .5s;
    padding: 20px;
 }
section {
    margin: 1rem 0;
}
.download {
    padding: 12px 30px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}
.download:hover {
    border-radius: 20px;
    background-color: blueviolet;
 }
/* Hero section style End */
/* Skills section style */
#mySkills {
    padding: 5px;
    color: black;
    background-color: #f9f9f9;
}
#mySkillsGrid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 1.5rem;
}
.mySkill {
    padding: 1rem;
    background-color: #8c4040;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mySkill:hover {
box-shadow: 0px 4px 15px rgba(0,0,0, 0.2);
transform: translateY(-5px);
}
/*My Skills section style */

/* My Portfolio Gallery Grid styles */
.row {
    margin: 8px -16px;
}
.row, .row > .column {
    padding: 8px;
}
.column {
     width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.column:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform:translateY(-5px);  
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.contentment {
    margin: 0;
    text-align: center;
    padding: 8px;
}
.content {
     background-color: #8c4040;
 }
 .lone {
    display: flex;
 }
.view {
    font-weight: 500;
}
/*My Portfolio Gallery Grid styles END HERE*/

/* Footer style */
div.footernv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;}
footer {
    margin-top: 1rem;
    grid-area: footer;
    text-align: center;
    bottom: 0;
    padding: 3rem;
}
.footer-links{
    display: grid;
    text-align: left;
    gap: 8px 0;
    margin-bottom: 10px;
}
.paragraph {
    font-weight: 500;
    font-size: .7em;
    color: white;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
}
div.border {
    border: 1px solid #fff;
    border-radius: 50%;
    padding:   .3em;
opacity: 0.5;}
div.border a:hover {
    color: white;
 }

div.border:hover {
 opacity: 1;}
.socialM {
     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: fit-content;
 }
.license { 
    font-size: .6em;
    color: white;
 }
a {  width: fit-content;
    color: white;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    text-decoration: underline;
}
a :visited {
    color: white;
}
.social-links a {
    margin: 0 0.5rem;
}
.social-links a:hover {
    text-decoration: none;
 }
a.marveey { 
    color: white;
    text-decoration:underline;
 }
a.marveey:visited { 
    color: dodgerblue;}
/* Footer style end here */

/* MEDIA QUERIES */

/* TABLET PHONES */
@media (min-width:600px) and (max-width:1024px) {
.column {float: left;
    width: 50%;
}
}

/* LARGE SCREEN / DESKTOP */
@media screen and (min-width: 1025px) {
.column { 
    float: left;
    width: 25%;
 }
div.herodiv {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
div.herocontent{
    width: 50%;
 }
div.picture {
    text-align: left;
    padding: 0;
    margin-left: 0;
    max-width: 50%;
 }
 header {
    padding: 20px;
    align-items: flex-end;
    justify-content: space-between;
 }
 #mainnav {
    display: unset;
    position: unset;
    left: unset;
    top: unset;
   transition: 0.3s;
  }
  .closenav {
    display: none;
  }
  #mainnav:target {
   display: unset;
  }
  .accesstop {
    display: none;
  }
nav ul {
    top: unset;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: unset;

}
#openNav {
    display: none;
 }
#mainnav {
    margin: unset;
    top: unset;
    left: unset;
    overflow-x: unset;
    transition: unset;
    width: unset;
    position: unset;
    height: unset;
    z-index: unset;
  }
/* footer style */
.footer-links, .social-links {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hidden {
    display: none;
}
div.footernv {
gap: 30px;
}
.socialM {
    gap: 30px;
    margin-left: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
     height: unset;
    width: unset;
}
}

