* {
    padding: 0;
    margin-top: 0;
    box-sizing:border-box;
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
:root {
    --font-family: 'Poppins', 'Montserrat', 'Merriweather',   'Open Sans', 'Playfair Display';
    --headerfont: 'Poppins',  'Open Sans','Roboto';
  }
html {
    scroll-behavior: smooth;
}
h1, h2, h3 {
    font-family: var(--headerfont);
}
body {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr auto;
grid-template-areas: 
'header'
 'main'
 'footer';
 padding: 0;
 margin: 0;
 line-height: 1.6;
 background: linear-gradient(180deg,  rgb(50, 56, 50), rgb(0, 0, 0),  rgb(50, 56, 50));
 color: white;
 font: 200 20px / 1.5 var(--font-family), Verdana, Geneva, Tahoma, sans-serif;
}
img { 
    padding: 0;
    margin: 0  ;
    max-width: 100%;
    height: auto;
    display: block;
}
/* Navigation style start */
header {
    z-index:1 ;
    position: sticky;
    top: 0;
    color: #fff;
    padding: 20px;
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
header, footer {
    background-color: #0b0a0a;

  }
.hidden {position: relative;
    display: none  ;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
.hidden:visited {
    color:snow;
    text-decoration: none;
}
.hidden:hover {
    color:snow;
    text-decoration: none;
}
#logo { 
     margin: 2px 0 0 3px;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}
#openNav {
    font-size: 25px;
    cursor: pointer;
    color: white;
     width: 50px;
    height: 50px;
    margin: 5px 100px 10px 0;
    text-decoration: none;
}
#openNav:visited {
    color: white;
}
#openNav:hover {
    color: whitesmoke;
}
nav { 
    grid-column: 2/3;
    grid-row: -2;
    margin: 0;
    padding: 0;
  }
#mainnav {
    margin: 0;
    top: 77px;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    width: 0;
    position: fixed;
    height: 100%;
    z-index: 100;
    padding:px ;
 }
nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: none;
flex-direction: column;
}
nav ul li { 
    margin: 5px 0;
    text-align: center;
}
nav ul li a { 
    font-weight: 500;
    padding: 0 0 0 15px;
  }

#closeNav {
    text-align: right;
     font-size: 30px;
 margin: 0px 20px 0 15px;}
/* Navigation style end */

/* Hero section style */
#aboutMe {
    padding: 5px;
}
div.herodiv {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1 {
    margin: 1rem 0;
    padding: 0;
 }
main {
    padding: 5px;
    grid-area: main;
}
#container {
    transition: margin-left .5s;
    padding: 20px;
 }
section {
    margin: 1rem 0;
}
/* Hero section style End */
/* Skills section style */
#mySkills {
    padding: 5px;
    color: black;
    background-color: #f9f9f9;
}
#mySkillsGrid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 1.5rem;
}
.mySkill {
    padding: 1rem;
    background-color: #8c4040;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mySkill:hover {
box-shadow: 0px 4px 15px rgba(0,0,0, 0.2);
transform: translateY(-5px);
}
/*My Skills section style */

/* My Portfolio Gallery Grid styles */
.row {
    margin: 8px -16px;
}
.row, .row > .column {
    padding: 8px;
}
.column {
     width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.column:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform:translateY(-5px);  
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: #8c4040;
    padding: 0 0 3px 5px;
}
.view {
    font-weight: 500;
}
/*My Portfolio Gallery Grid styles END HERE*/

/* Footer style */
div.footernv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;}
footer {
    margin-top: 1rem;
    grid-area: footer;
    text-align: center;
    bottom: 0;
    padding: 3rem;
}
.footer-links{
    display: grid;
    text-align: left;
    gap: 8px 0;
    margin-bottom: 10px;
}
.paragraph {
    font-weight: 500;
    font-size: .7em;
    color: white;
    padding: 0;
    margin: 1rem 0;
    text-align: left;
}
.license { 
    font-size: .6em;
    color: white;
 }
a { color: white;
    text-decoration: none;
}
a:hover {
    color: blueviolet;
    text-decoration: underline;
}
a :visited {
    color: white;
}
.social-links a {
    margin: 0 0.5rem;
}
.social-links a:hover {
    text-decoration: none;
 }
a.marveey { 
    color: white;
    text-decoration:underline;
 }
a.marveey:visited { 
    color: dodgerblue;}
/* Footer style end here */

/* MEDIA QUERIES */

/* TABLET PHONES */
@media (min-width:600px) and (max-width:1024px) {
.column {float: left;
    width: 50%;
}
}

/* LARGE SCREEN / DESKTOP */
@media screen and (min-width: 1025px) {
.column { 
    float: left;
    width: 25%;
 }
div.herodiv {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
div.herocontent{
    width: 50%;
 }
div.picture {
    text-align: left;
    padding: 0;
    margin-left: 0;
    max-width: 50%;
 }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
#openNav {
    display: none;
 }
#mainnav {
    margin: unset;
    top: unset;
    left: unset;
    overflow-x: unset;
    transition: unset;
    width: unset;
    position: unset;
    height: unset;
    z-index: unset;
  }
/* footer style */
.footer-links, .social-links {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hidden {
    display: none;
}
div.footernv {
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 30px;
}
.socialM {
    gap: 30px;
    margin-left: 2rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
}

